* {
  margin: 40;
  padding: 40;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  background: #F3F5FC;
  font-family: Verdana;
  font-size: 15;
}

.container{
  margin: auto;
  width: 960px;
  height: 650px;
  padding: 5px;
  background: rgb(247, 168, 168);
}

.logo{
  width: 100%;
  float: left;
}

.main {
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: center;
}

.titulo {
  padding: 45px;
  width: 30vw;
  margin: auto;
}

.logoImg{
  margin-top: 1%;
  margin-left: 1%;
  float: inherit;
}

.box {
  padding: 10px;
  margin: 0 10px 0 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 0.5em;
  width: 28vw;
  height: auto;
}

.btn {
  border: 0;
  color: white;
  font-weight: bold;
  background-color: blue;
  padding: 10px;
  margin-top: 10px;
  border-radius: 0.5em;
}

.text-input {
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5em;
  width: 100%;
  height: 50px;
  color: #0A3871;
  font-size: 20px;
}